/* Position of POI-radar. */

.radarContainer_left {
    position: absolute;
    top: calc(35px + env(safe-area-inset-top));
    left: env(safe-area-inset-left);
    width: 100px;
    height: 100px;
}

.radarContainer_right {
    position: absolute;
    top: calc(35px + env(safe-area-inset-top));
    right: env(safe-area-inset-right);
    width: 100px;
    height: 100px;
}

/* 3d. */
.info {
    font-size: large;
    position: absolute;
    width: 100%;
    padding-top: calc(12px + env(safe-area-inset-top));
    padding-bottom: 12px;
    background-color: #BBBBBB;
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0.7;
    display: table;
}

#infoBox {
    display: none;
}

#infoBox .text {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 50%;
}

#infoBox .icons {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

#infoBox .icons img {
    margin-left: 15px;
}

#snapContainer {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25%;
    margin-left: -25%;
    background: #FFFFFF;
    opacity: .0;
}

#snapContainer:before {
    content: "";
    display: block;
    padding-top: 100%;
}

@media (orientation: landscape) {
    #snapContainer {
        width: 30%;
        margin-top: -15%;
        margin-left: -15%;
        background: #FFFFFF;
        opacity: .0;
    }
}
